{{!-- using #with to provide specificity and target the particular format --}}
{{#with listing.format as | cassette |}}
{{#each listing as | cassette |}}
    <section class="cassette">
        <img src="{{cassette.cover_art}}" alt="Cover Art for {{cassette.album_title}} by {{cassette.artist}}">
        <div class="cassette-details">
            <h3>{{cassette.album_title}}</h3>
            <p>By: {{cassette.artist}}</p>
            <p>Genre: {{cassette.genre}}</p>
            <p>Format: Cassette</p>
            <p>Condition: {{cassette.condition}}</p>
            <p>Description: {{cassette.description}}</p>
            <p>Price: {{cassette.price}}</p>
        </div>
    </section>
{{/each}}
{{/with}}