<section class="card">
    <a href="/cd/{{id}}">
        <header>{{title}}</header>
        
        <div class="card-body">
            <img src="/images/{{filename}}" alt="{{description}}">
            <p> Artist: {{artist}}</p>
        </div>
    </a>
</section>