{{#each listing as |vinyl| }}
<section class="vinyl">
    <img src="/img/{{vinyl.filename}}" alt="{{vinyl.description}}">
    <div class="vinyl-details">
        <h3>{{vinyl.title}}</h3>
        <p>By: {{vinyl.artist}}</p>
        <p>Genre: {{vinyl.genre}}</p>
        <p>Description: {{vinyl.description}}</p>
        <p>Price: {{vinyl.price}}</p>
    </div>
</section>
{{/each}}