{{#each vinyls as | vinyl |}}
    <section class="vinyl">
        <img class="cover-art" src="{{vinyl.cover_art}}" alt="Cover Art for {{vinyl.album_title}} by {{vinyl.artist}}">
        <div class="vinyl-details">
            <h3>{{vinyl.album_title}}</h3>
            <p>By: {{vinyl.artist}}</p>
            <p>Genre: {{vinyl.genre}}</p>
            <p>Format: Vinyl</p>
            <p>Condition: {{vinyl.condition}}</p>
            <p>Description: {{vinyl.description}}</p>
            <p>Price: {{vinyl.price}}</p>
        </div>
    </section>
{{/each}}