{{#each listings as |disc| }}
<div class="row mb-4 listings">
    <div class="col-md-5">
            {{#if disc.cover_art}}
                <img class="cover-art" src="{{disc.cover_art}}" alt="{{disc.album_title}}" />
                {{else}}
                <img class="cover-art" src="/img/disc-icon.png">
            {{/if}}
            <a href="/listings/{{disc.id}}">{{disc.artist}}</a>
        <h2>{{div.album_title}}</h2>
        <p>{{disc.artists}}</p>
        <p>{{disc.condition}}</p>
        <p>{{disc.description}}</p>
    </div>
</div>
{{/each}}