{{#each listings as |disc|}}
  <div class='row mb-4 vinyl'>
    <div class='col-md-5'>
      <h2>
        {{{get_img}}}
        {{#if disc.cover_art}}
          <img class='cover-art' src='{{disc.cover_art}}' />
        {{else}}
          <img class='cover-art' src='/img/disc-icon.png' />
        {{/if}}
        <a href='/listings/{{disc.id}}'>{{disc.artist}}</a>

      </h2>

      <p>
        <span for='img'></span>
      </p>
    </div>
  </div>
{{/each}}

<ul class='visit-count'>
  <li>
    Webpage was visited by
    {{countVisit}}
    times
  </li>
  <br />

  <li>Number of daily unique sessions which hit the server:
    {{numberOfDailyUniqueSessions}}</li>

  <li>Number of daily unique ip addresses which hit the server:
    {{numberOfDailyUniqueIpAddresses}}</li>

  <li>Number of daily HTTP requests received by the server is:
    {{numberOfDailyRequests}}</li>

</ul>