{{!-- Nate --}}
{{!-- refactoring to closely match the saved items function --}}
<section class="cart-item-section">
    <h1>Your Shopping Cart</h1>

    {{#each cartItems}}

    <div class="listing">
        <img src="{{listing.cover_art}}" alt="Cover Art for {{listing.album_title}} by {{listing.artist}}">
        <div class="listing-details">
            <h4>{{listing.album_title}} by: {{listing.artist}}</h4>
            <p>Format: {{listing.format}}</p>
            <p>Price: {{listing.price}}</p>
        </div>

        <div class="col-md-4">
            <button class="btn btn-sm cartRemoveBtn" data-id="{{listing.id}}">
                Remove From Cart
            </button>
        </div>
    </div>

    {{/each}}

    <div class="col-md-8">
        <h2>Your Subtotal:</h2>
        <button class="btn btn-sm cartPurchaseBtn" data-id="insertwaytoselectallcartitems">
            Proceed to Checkout
        </button>
    </div>
</section>

<script src="/js/addtocart.js"></script>
<script src="/js/removefromcart.js"></script>