{{! Irakli }}

<section class='saved-item-section'>
  <h1>Your Saved Items list:</h1>
  {{#each favItems}}

    <section class='listing'>
      <img
        src='{{listing.cover_art}}'
        alt='Cover Art for {{listing.album_title}} by {{listing.artist}}'
      />
      <div class='listing-details'>
        <h4>{{listing.album_title}}</h4>
        <p>By: {{listing.artist}}</p>
        <p>Genre: {{listing.genre}}</p>
        <p>Format: {{listing.format}}</p>
        <p>Condition: {{listing.condition}}</p>
        <p>Description: {{listing.description}}</p>
        <p>Price: {{listing.price}}</p>
      </div>
      <div class='col-md-4'>
        <button class='btn btn-sm saveRemoveBtn' data-id='{{listing.id}}'>
          Remove From Saved Items</button>
      </div>
    </section>
  {{/each}}
</section>

<script src='/js/saveheart.js'></script>