{{!-- nothing here seems to be working, not sure at all as to why! --}}
{{!-- however, at least, it is trying to load this page, as it is displaying the broken version of the cover art if/else statement --}}
<div class="row">
    <div class="col-auto">
        <h2>Hey there, {{User.name}}.</h2>
    </div>
</div>
<div class="row mb-4 listings">
    <div class="col-md-5">
        {{#if listing.cover_art}}
        <img class="cover-art" src="{{listing.cover_art}}" alt="Cover Art for {{listing.album_title}} by {{listing.artist}}" />
        {{else}}
        <img class="cover-art" src="/img/listing-icon.png">
        {{/if}}
        <a href="/listing/{{listing.id}}">{{listing.artist}}</a>
        <h2>{{listing.album_title}}</h2>
        <p>By: {{listing.artist}}</p>
        <p>Genre: {{listing.genre}}</p>
        <p>Format: {{listing.format}}</p>
        <p>Condition: {{listing.condition}}</p>
        <p>Descritption: {{listing.description}}</p>
        <p>Price: {{listing.price}}</p>
        <p>Seller: {{listing.User.name}}</p>
    </div>
    <div>
      <button id="addFavoriteBtn" class="btn btn-sm btn-danger" data-id="{{disc.id}}">Save To Favorites</button>
    </div>
    <div>
      <button id="addCartBtn" class="btn btn-sm btn-danger" data-id="{{disc.id}}">Add To My Cart</button>
    </div>
</div>